.dice {
  display: grid;
  grid-template-columns: repeat(5, 205px);
  grid-gap: 10px;
  justify-items: center;
  justify-content: center;
}

.round-tracker {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}

.round-tracker__counter {
  width: 35px;
  height: 35px;
  border: solid 3px black;
  border-radius: 100%;
  position: relative;
}

.round-tracker__counter::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: rebeccapurple;
  transition: transform 0.2s ease-out;
  transform: scale(0);
  z-index: -1;
}

.round-tracker__counter--counted::before {
  transform: scale(1)
}

/* Rolling Dice */

@keyframes buttonBackgroundRotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes buttonBackgroundHover {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.roll-dice-button {
  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  background: none;
  margin: 20px;
  font-weight: 600;
  color: #f1f1f1;
}

.roll-dice-button::before {
  animation: buttonBackgroundRotate 10s linear infinite;
  transform-origin: center center;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rebeccapurple;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 5px;
}

.roll-dice-button[disabled]::before,
.roll-dice-button[disabled]:hover::before {
  animation-play-state: paused;
  background: grey;
}

.roll-dice-button:hover::before {
  animation: buttonBackgroundHover 1s linear infinite;
  background: purple;
}

.dice-wrapper {
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  display: grid;
  justify-items: center;

}

.score-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}



.score-selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.score-selection__buttons {
  background: #e7e7e7;
  border: solid 2px #d6d6d6;
  margin: 20px;
  min-height: 100px;
}


.score-selection-button {
  border: none;
  background: linear-gradient(to right, rgb(252, 73, 169) 0%, rgb(9, 240, 198) 100%);
  font-size: x-large;
  color: white;
  border-radius: 2px;
  margin: 10px;
  padding: 0;
  overflow: hidden;
}

.score-selection-button__score {
  background: rebeccapurple;
  padding: 0 10px;
}

.score-selection-button__name {
  margin: 10px;
}